dist
build
MANIFEST
tron.egg-info
*.pyc
*._*
*.swp
*.swo
docs/_build/
.idea
tron.iml
docs/images/
*.dot
tronweb/js/cs/*.js
tronweb_tests/spec/*.js
tronweb_tests/lib/
.tox
tron_state
tron_state.db
tron.iml
__pycache__/

# Generated debian artifacts
debian/tron
debian/tron.preinst.debhelper
debian/files
debian/tron.substvars
debian/tron.debhelper.log
debian/tron.postinst.debhelper
debian/tron.postrm.debhelper
debian/tron.prerm.debhelper
debian/debhelper-build-stamp
