dist
build
MANIFEST
tron.egg-info
*.pyc
*._*
*.swp
*.swo
docs/_build/
.idea
.vscode
tron.iml
docs/images/
*.dot
tronweb/js/cs/*.js
tronweb2/yarn.lock
yarn.lock
tronweb_tests/spec/*.js
tronweb_tests/lib/
.tox
.tox-indocker
tron.iml
__pycache__/
.pytest_cache/
tron_state
tron.lock
manhole.sock
manhole.sock.lock
node_modules/
tron/VERSION_SHA

# Example cluster
example-cluster/config
example-cluster/MASTER.*
example-cluster/tron-repl.lock
example-cluster/tron_state*
example-cluster/manhole.sock*
example-cluster/_events/
*.stdout
*.stderr
dev/manhole.sock.lock
dev/tron.pid
dev/_events/

# Generated debian artifacts
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/tron
debian/tron.debhelper.log
debian/tron.postinst.debhelper
debian/tron.postrm.debhelper
debian/tron.preinst.debhelper
debian/tron.prerm.debhelper
debian/tron.substvars
