---
default_language_version:
    python: python3.8
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
        exclude: CHANGELOG.md
      - id: check-docstring-first
      - id: check-json
      - id: check-yaml
      - id: requirements-txt-fixer
      - id: fix-encoding-pragma
        args: [--remove]
      - id: pretty-format-json
        args: [--autofix, --indent, '4', --no-sort-keys]
  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        exclude: ^docs/source/conf.py$
        language_version: python3.8
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v1.9.0
    hooks:
      - id: reorder-python-imports
        args: [--py3-plus]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: local
    hooks:
      - id: patch-enforce-autospec
        name: mock.patch enforce autospec
        description: |
          This hook ensures all mock.patch invocations specify an autospec
        entry: contrib/mock_patch_checker.py
        language: script
        files: ^tests/.*\.py$
  - repo: http://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args: [--target-version, py38]
