---
language: python
env:
  - TARGET=tox_py36
  - TARGET=debitest_trusty
  - TARGET=cluster_itests
python:
  - 3.6

before_install:
  - sudo apt-get install -y libdb5.3-dev
  - export BOTO_CONFIG=/dev/null

install: pip install tox
script: make $TARGET

deploy:
  - provider: pypi
    user: yelplabs
    password:
      secure: "ZUQHl9BldAntIwEz9QPf5rODpGwb/2M+Bjs3scFuGBK8PsDtZ9krek9TsDsLEIw7IjQw9eUc25xcDZ5DsIXLF+aZLGeEkBrKkPzPMBD9ebWH8phtINg5H1tgMbtWmieDI1SGcPXoSQhOpaKG3v0FrbdTb1V5DNVFqawn0rvFJ8U="
    on:
      tags: true
      repo: Yelp/Tron
      condition: $TARGET == "tox_py36"

matrix:
  allow_failures:
    - env: MAKE_TARGET=cluster_itests
  fast_finish: true
