include *.txt
include *.md
include Makefile
include tron/default_config.yaml
include tron/logging.conf
recursive-include debian *
recursive-include test *.py *.yaml
recursive-include docs *.txt *.rst *.yaml *.1 *.8
