argcomplete
boto3
bsddb3
cryptography
dataclasses
humanize
ipdb
ipython
Jinja2>=2.10.1
lockfile
moto
psutil
pyasn1
pyformance
pysensu-yelp
pytimeparse
pytz
PyYAML>=5.1
requests
task_processing[mesos_executor]
Twisted
urllib3>=1.24.2
