bsddb3
cryptography>=2.1.4
docutils>=0.8.1
ipdb
ipython
Jinja2>=2.6
pyasn1>=0.0.13
pycrypto>=2.4
Pygments>=1.4
pyrsistent>=0.14.2
pytz>=2011n
PyYAML>=3.0
Sphinx-PyPI-upload>=0.2.1
Sphinx>=1.1.2
testify>=0.1.12
Twisted>=17.0.0
