bsddb3
cryptography>=2.1.4
docutils>=0.8.1
ipdb
ipython
Jinja2>=2.6
psutil
pyasn1>=0.0.13
pycrypto>=2.4
Pygments>=1.4
pytz>=2011n
PyYAML>=3.0
requests
Sphinx-PyPI-upload>=0.2.1
Sphinx>=1.1.2
task_processing[mesos_executor]>=0.0.10
testify>=0.1.12
Twisted>=17.0.0
