clusterman-metrics==2.2.1  # used by tron for pre-scaling for Spark runs
logreader==1.2.0        # used by tron logreader
simplejson==3.19.2      # required by tron CLI
yelp-meteorite==2.1.1   # used by task-processing to emit metrics, clusterman-metrics dependency
