clusterman-metrics==2.2.1  # used by tron for pre-scaling for Spark runs
dateglob==1.1.1 # required by yelp-logging
geogrid==2.1.0  # required by yelp-logging
monk==3.0.4     # required by yelp-clog
ply==3.11   # required by thriftpy2
scribereader==1.1.1  # used by tron to get tronjob logs
simplejson==3.19.2  # required by yelp-logging
srv-configs==1.3.4  # required by monk
tenacity==8.2.3 # required by yelp-logging
thriftpy2==0.4.20   # required by monk
yelp-cgeom==1.3.1   # required by geogrid
yelp-clog==7.1.4  # scribereader dependency
yelp-logging==4.17.0  # scribereader dependency
yelp-meteorite==2.1.1  # used by task-processing to emit metrics, clusterman-metrics dependency
