{% extends "base.html" %}
{% block body %}
    <h1>{{ data['name'] }}</h1>
    <h3>Scheduler: {{ data['scheduler'] }}</h3>
    <h3>Actions</h3>
    <ul>
        {% for act in data['action_names'] %}
            <li>{{act}}</li>
        {% end %}
    </ul>
    <h3>Nodes</h3>
    <ul>
        {% for node in data['node_pool'] %}
            <li>{{node}}</li>
        {% end %}
    </ul>
    <table class="jobs">
      <tr>
        <th>ID</th>
        <th>Node</th>
        <th>State</th>
        <th>Duration</th>
        <th>Start Time</th>
        <th>End Time</th>        
      </tr>
      {% for run in sorted(data['runs'], key=lambda r: r['run_num'], reverse=True) %}
        <tr>
          <td><a href='{{ run['run_num'] }}'>{{ run['id'] }}</a></td>
          <td>{{ run['node'] }}</td>
          <td>{{ run['state'] }}</td>
          <td>{{ run['duration'] }}</td>
          <td>{{ run['start_time'] }}</td>
          <td>{{ run['end_time'] }}</td>
        </tr>
      {% end %}      
    </table>

{% end %}


