{% extends "base.html" %}
{% block body %}
    <h1>{{ data['id'] }}</h1>
    <h2>State: {{ data['state'] }}</h2>
    <h2>Node {{ data['node'] }}</h2>
  <table class="jobs">
    <th>Action</th>
    <th>State</th>
    <th>Duration</th>    
    <th>Start</th>
    <th>End</th>
    <th>Exit Status</th>
  {% for run in data['runs'] %}
    <tr>
      <td>{{ run['name'] }}</td>
      <td>{{ run['state'] }}</td>
      <td>{{ run['duration'] }}</td>            
      <td>{{ run['start_time'] }}</td>
      <td>{{ run['end_time'] }}</td>
      <td>{{ run['exit_status'] }}</td>
    </tr>
    <tr>
      <td colspan="6" class="command">
        {{ run['command'] }}<br />
        <a href="{{output_url(job, data['id'], run['id'])}}.stdout">stdout</a>&nbsp;&nbsp;<a href="{{output_url(job, data['id'], run['id'])}}.stderr">stderr</a>
      </td>
    </tr>
  {% end %}
  </table>
{% end %}

