Source: tron
Section: admin
Priority: optional
Maintainer: Steve Johnson <sjohnson@yelp.com>
Build-Depends: debhelper (>= 6.0.4), python-support (>= 0.5.3), cdbs (>= 0.4.51), python-central (>= 0.5.6)
XS-Python-Version: >=2.5
Standards-Version: 3.7.2

Package: tron
Architecture: all
Homepage: http://github.com/yelp/Tron
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends}, ${python:Depends}, python-twisted (>=8.2.0), python-yaml
Description: Tron is a job scheduling, running and monitoring package.
  Designed to replace Cron for complex scheduling and dependencies.
  Provides:
    Centralized configuration for running jobs across multiple machines
    Dependencies on jobs and resources
    Monitoring of jobs
