#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@ --with python-virtualenv

# do not call `make clean` as part of packaging
override_dh_auto_clean:
	true

override_dh_auto_build:
	true

# do not call `make test` as part of packaging
override_dh_auto_test:
	true

override_dh_virtualenv:
	dh_virtualenv \
		--python=/usr/bin/python3.6 \
		--preinstall=-rrequirements-bootstrap.txt

override_dh_installinit:
	dh_installinit --noscripts
