#!/usr/bin/make -f
# -*- makefile -*-

DH_VERBOSE := 1

%:
	dh $@ --with python-virtualenv

# do not call `make clean` as part of packaging
override_dh_auto_clean:
	true

override_dh_auto_build:
	true

# do not call `make test` as part of packaging
override_dh_auto_test:
	true

override_dh_virtualenv:
	echo $(PIP_INDEX_URL)
	dh_virtualenv --index-url $(PIP_INDEX_URL) \
	            --extra-pip-arg  --trusted-host=169.254.255.254 \
                --python=/usr/bin/python3.8 \
                --preinstall cython==0.29.36 \
                --preinstall pip==18.1 \
                --preinstall setuptools==46.1.3 \
                --only-binary=cryptography
	@echo patching k8s client lib for configuration class
	patch debian/tron/opt/venvs/tron/lib/python3.8/site-packages/kubernetes/client/configuration.py contrib/patch-config-loggers.diff
override_dh_installinit:
	dh_installinit --noscripts
