[Unit]
Description=trond
After=network.target

[Service]
User=tron
EnvironmentFile=/etc/default/tron
ExecStart=/usr/bin/trond --lock-file=${LOCKFILE:-$PIDFILE} --working-dir=${WORKING+DIR} -H 0.0.0.0 -P 8089 -l ${LOGCONF}
TimeoutStopSec=20
Restart=on-failure

[Install]
WantedBy=multi-user.target
