table.jobs th {
  text-align:left;
  padding-left: 20px;
  background-color: LightCyan;
}

table.jobs td {
  text-align:left;
  padding-left: 20px;  
  background-color: LightYellow;
}

table.jobs td.command {
  text-align:left;
  padding-left: 20px;  
  background-color: White;
  padding-bottom: 20px;
}
