.link {
  stroke: #000;
  stroke-width: 0.8px;
}

text {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 12px;
}

text.external {
  fill: #fff;
}

rect.external{
  fill: #555;
}

.tooltip.show {
  opacity: 1;
}

.tooltip-inner {
  min-width: 20em;
  text-align: left;
  background-color: white;
  border: solid black;
  color: black;
  font-family: 'Droid Sans Mono', monospace;
  padding: 0;
}

.tooltip-action-name {
  background-color: #ddd;
}
