
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800);

body, input, button, select {
    font-family: "Open Sans";
}

.navbar .brand {
    font-weight: 800;
}

[class^="icon-"] {
    margin-top: 3px
}
